
.body {
  width: 100%;

}


.header {
  height: 50px;
  width: 1024px;
  margin-top: 50px;

  
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.footer1 {
  height: 300px;
  width: 1024px;
  background-color: floralwhite;
}
li {
  list-style: none;
}
.col-6 {
  display: flex;
}
