 canvas {
  margin-left: 20px;
  margin-right: 20px;

  height: 32px;
  width: 32px;
  position: inherit;
}
span.time,.forecast-temp{
    top: -10px;
    position: relative;
}

div.forecast {
  padding: 15px;
  margin: 0;
  text-align: center;

  
}
