.forecast canvas {
  margin-left: 20px;
  margin-right: 20px;

  height: 32px;
  width: 32px;
}
span.time,
.forecast-temp {
  top: -10px;
  position: relative;
}

div.forecast {
  padding-top: 10px;
  text-align: center;
}
.hourly {
  margin-bottom: 8px;
}
