.forecast canvas {
  margin-left: 20px;
  margin-right: 20px;

  height: 32px;
  width: 32px;
}
span.time,
.forecast-temp {
  top: -10px;
  position: relative;
  
}
span.time {
  font-weight: bold;
}

div.forecast {
  padding-top: 10px;
  text-align: center;
}
.hourly.col-4 {
  margin-bottom: 8px;
  margin-right: 0;
}
