
div.container {
    max-width: 800px;
    border-radius: 4px;
}



.weather {
    background-color: lightskyblue;
    flex-wrap: wrap;
    padding: 16px;
    margin: 0 auto;
    max-width: 800px;
    border: 1px solid gray;
    border-radius: 4px;
    
   
}
h5 {
    text-align: center;
}
h2 {
    text-align: center;
    font-weight: normal;
}
h4 {
    margin-top: 20px;
}
.city {
    text-align: center;
    font-size: 50px;
}

main.condition {
    margin: 0;
    
}


.city,.text-capitalize,.humidity,.wind {
    padding-bottom: 0;
}


.temperature {
    font-size: 55px;
}
.units {
    font-size: 15px;
    position: relative;
    top: -29px;

    
    
}

ul {
    text-align: center;
}
li {
    
    list-style: none;
}
ul.box2 {
    margin-top: 100px;
}
.condition.box2 img {
    margin-bottom: 25px;
}
ul.left {
   
    text-align: left;
    padding-bottom: 0;
    margin-left: 30px;
    padding-inline-start: 0;
    
}
li {
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.icon {
    margin-bottom: 50px;
    padding-top: 60px;
}



p {
    font-size: 10px;
}
