
div.container {
    max-width: 800px;
    border-radius: 4px;
}



.weather {
    background-color: lightskyblue;
    flex-wrap: wrap;
    padding: 16px;
    margin: 30px auto;
    max-width: 800px;
    border: 1px solid gray;
    border-radius: 4px;
    
   
}
h5 {
    text-align: center;
}
h2 {
    text-align: center;
}
.city {
    text-align: center;
    font-size: 50px;
}

main.condition {
    margin: 0;
    
}

.city,.description,.humidity,.wind,.min {
    padding-bottom: 25px;
}


.temperature {
    font-size: 55px;
}
.units {
    font-size: 15px;
    position: relative;
    top: -29px;

    
    
}

ul {
    text-align: center;
}
li {
    
    list-style: none;
}
ul.box2 {
    margin-top: 100px;
}
.condition.box2 img {
    margin-bottom: 25px;
}
ul.left {
    margin-top: 20px;
    text-align: left;
    padding-bottom: 0;
    margin-left: 30px;
    padding-inline-start: 0;
    
}
.forecast  img {
    padding-bottom: 0;
    line-height: 20px;
    font-size: 10px;
    font-weight: 300px;
    
    font-size: 10px;
}


p {
    font-size: 10px;
}
